.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F8F7F7;
  flex-wrap: wrap;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.navigationContainer {
  width: 15%;
  display: flex;
  flex-shrink: 0;
}

.mainContainer {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  flex-direction: column;
}