.slider {
  width: 100%;
}

.track {
  height: 5px;
  background-color: blue;
}

.thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: grab;
}